{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Rutas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aplicacion">
        <meta name="author" content="wbapps">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
        <link href="../assets/css/scrollbar.css" rel="stylesheet">
        <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="../assets/css/rutas.css" rel="stylesheet">        
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="../assets/js/bootstrap.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="../assets/js/gmaps.js"></script>
        {% dajaxice_js_import %}
        <script src="../assets/dajaxice/jquery.dajax.core.js"></script>
        <script src="../assets/js/ajax.js"></script>

        <script type="text/javascript">
            var map;
            $(document).ready(function(){    
                map = new GMaps({
                    div: '#map',
                    lat: 12.136677,
                    lng: -86.255563,
                    zoom: 13
                });
            });
        </script>
    </head> 
    <body>  
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Rutas de Managua</a>
                    <div class="nav-collapse collapse">
                        <form class="navbar-form pull-right">
                            <input type="text" class="search-query sea" placeholder="Buscar">
                        </form>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li class="active"><a href="#">Inicio</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#">Acerca de</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#reportes">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container_custom">
            <div class="row">
                <div id="scrollbar" class="span3 well lista_rutas">
                    {% block lista_rutas %} {% endblock %}
                    {% block lista_puntos %} {% endblock %}
                </div>
                <div class="span8 well">
                    <div class="popin">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>