{% extends 'base.html' %}
	{% block lista_rutas %}
		{% if rutas %}
			{% for r in rutas %}
				<div href="#ruta" class="span1 ruta well well-small" data-toggle="modal" onclick="puntosInteres_ruta({{ r.id }})">{{ r.ruta }}</div>
			{% endfor %}
		{% else %}
			<div class="span1 ruta well well-small">No hay rutas</div>
		{% endif %}
		
			<div id="ruta" class="modal hide fade in" style="display: none;" >
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>Puntos principales de ruta <span id="nombreRuta">ruta</span></h3>
				</div>  
				<div class="modal-body">
					<ul>
						<li id="puntosInteres"></li>
						
					</ul>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
				</div>  
			</div>
		
{% endblock %}
